@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="carouselMultiItemExample"
         class="carousel slide carousel-dark text-center"
         data-mdb-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner py-4">
            <div class="carousel-item active">
                <div class="container">

                    <div class="row">
                        @foreach (var movie in Model)
                        {
                            <div class="col-lg-4 d-none d-lg-block">
                                <div class="card card-with-margin">
                                    @if (movie.CoverPhoto != null && movie.CoverPhoto.Length > 0)
                                    {
                                        var imageBase64 = Convert.ToBase64String(movie.CoverPhoto);
                                        <img src="data:image;base64,@imageBase64" alt="Cover Photo" class="img-thumbnail" />
                                    }
                                    <div class="card-body">
                                        <h5 class="card-title">@movie.Name</h5>
                                        <p class="card-text">
                                            @movie.Description
                                        </p>
                                        <a href="#!" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


