@model Movie.BuyTicketViewModel

@{
    ViewData["Title"] = "CinemaBranch";
}

@*<h1>All Cinema Locations</h1>*@
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="event-schedule-area-two bg-color pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text">
                        <br />
                        <h2>Show Times</h2>
                    </div>
                    <p>
                        Address: @Model.CinemaBranch.Address
                    </p>
                    @if (Model.CinemaBranch.PhotoFile != null && Model.CinemaBranch.PhotoFile.Length > 0)
                    {
                        var imageBase64 = Convert.ToBase64String(Model.CinemaBranch.PhotoFile);
                        <img src="data:image;base64,@imageBase64" alt="Mall Photo" class="img-fluid" />
                    }
                </div>
            </div>
            <!-- /.col end-->
        </div>
        <br />
        <div id="movieList">
            <partial name="_BuyTicketList.cshtml" />
        </div>
    </div>
</div>