@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movie";
}

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Movie Today</h2>
        </div>
    </div>

     <br />
     <div id="PlaceHolderHere"></div>
    <div id="movieList">
        <partial name="_MovieList.cshtml"  />
    </div>
    <script>
        var ControllerName = '@ViewData["Title"]';
    </script>
    
</div>

